body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}


.ExpandedPlayer {
    animation-name: slideIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.3s;
    animation-delay: 0;
}

@keyframes slideIn {
    0% {
        transform: translateY(1000px);
    }
    100% {
        transform: translateY(0);
    }
}

.CollapsedPlayer {
    position: absolute;
    animation-name: slideOut;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.15s;
    animation-delay: 0;
}


@media screen and (min-width: 1024px){
    .BottomNavItem {
        height: 50px !important;
        max-width: 200px !important;
        text-align: left;
    }

    .BottomNavItem > div > span.material-icons {
        float: left;
        width: 24px !important;
    }

    .BottomNavItem > div > div {
        line-height: 24px !important;
        padding-left: 32px;
    }

    .Service {
        padding-left: 200px;
    }
}


@keyframes slideOut {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 56px;
    }
}
